blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
  overflow-x: hidden;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

* {
  padding: 0;
  margin: 0;
}

.nav {
  width: 100%;
  display: flex;
  padding: 10px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  justify-content: space-around;
  background-color: rgba(255,255,255,.2);
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(59, 130, 246);
  font-family: sans-serif;
}

.navlink a {
  padding-right: 2rem;
  padding-top: 1rem;
  padding-left: 2rem;
  font-family: sans-serif;
  color: #555555;
  text-decoration: none;
  font-size: 1.5rem;
}

.navlink a:hover {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  background-color: rgba(255,255,255,.5);
}

.main {
  width: 100%;
  height: 100vh;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(230deg, rgba(255,255,255,1) 0%, rgba(69,69,69,1) 41%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(230deg, rgba(255,255,255,1) 0%, rgba(69,69,69,1) 41%, rgba(0,0,0,1) 100%);
  background: linear-gradient(230deg, rgba(255,255,255,1) 0%, rgba(69,69,69,1) 41%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}
.hero {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.5);
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #ffffff;
  font-family: sans-serif;
}

.buttons {
  display: block;
}

.button {
  color:#ffffff;
  background-color: #860000;
  font-family: sans-serif;
  padding: 15px;
  margin-left: 1rem;
  margin-top: 30px;
  display: inline-block;
  -webkit-transition: background-color 1000ms ease-in-out;
  -ms-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

.button:hover {
  background-color: #008600;
}

.about {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us {
  font-size: 1rem;
  font-family: sans-serif;
  color: #ffffff;
  background-color: rgba(0,0,0,.5);
  padding-top: 50px;  
  padding-bottom: 50px;
  width: 75%;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 1000ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.about-us:hover {
  background-color: rgba(255,255,255,.8);
  color: #000000;
}

.about-us h1 {
  font-size: 2rem;
  font-weight: 600;
  font-family: sans-serif;
}

.about-text {
  float:right;
}

.about-img {
  float: left;
  width: 20%;
  padding-right: 50px;
}